body {
    background: linear-gradient(-45deg, rgba(98, 205, 172, 0.8), rgba(62, 55, 31, 0.13)) fixed, url('https://images.unsplash.com/photo-1546706872-9c90b8d0c94f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80') fixed;
    background-size: cover;
}

.dark {
    background:  linear-gradient(-45deg, rgba(102, 58, 12, 0.8), rgba(2, 4, 4, 0.8)) fixed;
    color: white;
}
.main-title{
    display: flex;
    width: 80%;
    border: 2px solid white;
}
h1{
    color: aliceblue;
}
.addnew{
    display: flex;
}
.button1{
    height: 20px;
    align-self: center;
}
#newTask{
    display: flex;
    margin: 10px;
}
.tasks{
    display: flex;
    border: 2px solid white;
    width: 80%;
    height: 50px;
}
.tasks button{
    height: 20px;
    align-self: center;
}
h3{
    color: aliceblue;
}
#tasksInProcess{
    margin: 10px;
    width: 50%;
}

.btn {
    width: 150px;
    height: 40px;
    margin: 20px;
    background-color: rgb(105, 230, 116);
    border: none;
    border-radius: 10px;
    color: rgb(19, 41, 20);
    font-weight: 500;
    font-size: 16px;
}
